@import "../../../asset/Sass/index";



.work_profile_body {

    & .work_profile_text {
        @include flex-box-space;
        margin-bottom: $forty-five;
        font-size: 1.3em;

        &::after {
            content: "";
            width: $sixty;
            border-radius: $five;
            height: $three;
            background-color: $primery-color;
        }
    }

}