@import "../../../asset/Sass/index";

.content_profile {
    & p {
        color: $primery-color;
        margin-bottom: $six;
    }

    & h1 {
        font-size: 2.5em;
    }

    & h4 {
        margin-top: $ten;
        color: $gray;
    }

}

.profile_social_media {
    margin-top: $twenty;
    margin-bottom: $fifteen;

    & h4 {
        color: $primery-color;
        margin-bottom: $fifteen;
    }
}