@import "../../../asset/Sass/index";


.work_profile {
    margin-top: $thirty-two;

    & h4 {
        color: $primery-color;
        margin-bottom: $ten;
    }
}

.project_body {
    display: $flex  !important;
    justify-content: flex-start !important;
    padding: $five  !important;
    background-color: $white  !important;
    border-radius: $five  !important;
    gap: $seventeen;
    @include all-box-shadow;

    & .project_pic {
        width: 150px;
        height: 75px;
        border: $onepx solid #DCDCDC;
        border-radius: $five;
        object-fit: contain;
        flex-shrink: 0;
        overflow: hidden;
        @include flex-box;


        & img {
            border-radius: $five;
        }
    }
}

.project_info {
    flex-grow: $one;
    position: relative;

    & span {
        color: $primery-color;
        bottom: $twelve;
        font-size: 1.1em;
        gap: 10px;
        @include flex-box;
    }

    & i {
        font-size: 1.2em;
        font-weight: 500;
    }

    & h3 {
        font-size: 1.1em;
        font-weight: $SemiBold  !important;
        margin-bottom: $five;
        color: $work-profile-main;
    }

    & p {
        font-size: 1em;
        margin-bottom: 7px;
        color: $work-profile-sub;
    }

    & .view_link {
        margin-top: 3px;
        @include flex-box-space
    }
}